In [1]:
import pandas as pd

# Load the final dataset
df = pd.read_csv("feature_engineered_data.csv")

# Basic dataset summary
summary = {
    "Total Users": df.shape[0],
    "Total Features": df.shape[1],
    "Gender Breakdown": df["Gender_Male"].value_counts().to_dict() if "Gender_Male" in df.columns else "N/A",
    "Average Age": round(df["Age"].mean(), 2),
    "Average Daily Usage (Minutes)": round(df["Daily_Usage_Time"].mean(), 2),
}

# Convert summary to DataFrame and save
summary_df = pd.DataFrame(list(summary.items()), columns=["Metric", "Value"])
summary_df.to_csv("final_summary.csv", index=False)

# Display summary
summary_df

                          Metric                    Value
0                    Total Users                      500
1                 Total Features                       27
2               Gender Breakdown  {False: 329, True: 171}
3                    Average Age                     0.51
4  Average Daily Usage (Minutes)                     0.18