In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df = pd.read_csv("GenZ_DatingApp_Data.csv")

In [3]:
df.head()

,User_ID,Age,Gender,Location,Education,Occupation,Primary_App,Secondary_Apps,Usage_Frequency,Daily_Usage_Time,Reason_for_Using,Satisfaction,Challenges,Desired_Features,Preferred_Communication,Partner_Priorities
0,1,20,Non-binary,Bangalore,Undergraduate,Freelancer,Hinge,Hinge,Monthly,1 hour,Finding a Partner,4,Safety Concerns,Audio Calls,Video Calls,Values > Personality > Appearance
1,2,24,Female,Delhi,Undergraduate,Part-time Job,Hinge,OkCupid,Weekly,30 minutes,Casual Dating,5,Time-Wasting,Video Calls,Text,Values > Personality > Appearance
2,3,24,Non-binary,Kolkata,Undergraduate,Intern,NaN,NaN,Weekly,2 hours,Casual Dating,4,Safety Concerns,Detailed Profiles,Text,Values > Personality > Appearance
3,4,22,Non-binary,Delhi,Graduate,Full-time Job,NaN,OkCupid,Daily,30 minutes,Casual Fun,3,NaN,AI Recommendations,Voice Notes,Personality > Interests > Values
4,5,18,Male,Delhi,Graduate,Intern,OkCupid,OkCupid,Weekly,2 hours,Casual Fun,4,Safety Concerns,Video Calls,Text,Appearance > Interests > Personality

In [4]:
# Check for duplicate rows
duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

Number of duplicate rows: 0

In [5]:
# Check for inconsistencies in categorical values
print("\nUnique values in categorical columns:")
for col in df.select_dtypes(include="object").columns:
    print(f"{col}: {df[col].unique()}")

Unique values in categorical columns:
Gender: ['Non-binary' 'Female' 'Male']
Location: ['Bangalore' 'Delhi' 'Kolkata' 'Mumbai' 'Chennai' 'Pune' 'Hyderabad']
Education: ['Undergraduate' 'Graduate' 'Postgraduate']
Occupation: ['Freelancer' 'Part-time Job' 'Intern' 'Full-time Job' 'Student']
Primary_App: ['Hinge' nan 'OkCupid' 'Tinder' 'Bumble']
Secondary_Apps: ['Hinge' 'OkCupid' nan 'Tinder' 'Bumble']
Usage_Frequency: ['Monthly' 'Weekly' 'Daily']
Daily_Usage_Time: ['1 hour' '30 minutes' '2 hours' '1.5 hours' '3 hours']
Reason_for_Using: ['Finding a Partner' 'Casual Dating' 'Casual Fun' 'Social Interaction']
Challenges: ['Safety Concerns' 'Time-Wasting' nan 'Lack of Genuine Matches']
Desired_Features: ['Audio Calls' 'Video Calls' 'Detailed Profiles' 'AI Recommendations'
 'Location-Based Matching']
Preferred_Communication: ['Video Calls' 'Text' 'Voice Notes']
Partner_Priorities: ['Values > Personality > Appearance' 'Personality > Interests > Values'
 'Appearance > Interests > Personality']

In [6]:
# Check for missing values
missing_values = df.isnull().sum()
print("\nMissing values in each column:")
print(missing_values[missing_values > 0])

Missing values in each column:
Primary_App       107
Secondary_Apps    114
Challenges        117
dtype: int64

In [10]:
df_cleaned = df.dropna()

In [11]:
missing_values = df.isnull().sum()
print("\nMissing values in each column:")
print(missing_values[missing_values > 0])

Missing values in each column:
Primary_App       107
Secondary_Apps    114
Challenges        117
dtype: int64

In [15]:
df.dropna(subset=['column']) or df['column'].fillna('Unknown', inplace=True)

KeyError: ['column']